NodeRed-flow/flow_for_smartGarden.json
[
    {
        "id": "0a85e1921e427ce2",
        "type": "tab",
        "label": "Umweltmonitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7ae477c49162f12",
        "type": "mqtt in",
        "z": "0a85e1921e427ce2",
        "name": "Temperatur",
        "topic": "DLN/test/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5058cd8714f55003",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d4771de60e6a867e"
            ]
        ]
    },
    {
        "id": "3f6730f985671191",
        "type": "mqtt in",
        "z": "0a85e1921e427ce2",
        "name": "Luftfeuchtigkeit",
        "topic": "DLN/test/humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5058cd8714f55003",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "dc89cbb869d6577a"
            ]
        ]
    },
    {
        "id": "1d480de3f18dabf3",
        "type": "mqtt in",
        "z": "0a85e1921e427ce2",
        "name": "Distanz",
        "topic": "DLN/test/dist",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5058cd8714f55003",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "f8f3c6a8323c8647"
            ]
        ]
    },
    {
        "id": "8668edd52336077a",
        "type": "mqtt in",
        "z": "0a85e1921e427ce2",
        "name": "Bodenfeuchtigkeit",
        "topic": "DLN/test/moist",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4f1c56bafa6120ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ac593f655348fb8a"
            ]
        ]
    },
    {
        "id": "d4771de60e6a867e",
        "type": "function",
        "z": "0a85e1921e427ce2",
        "name": "parse temp",
        "func": "msg.payload = parseFloat(msg.payload.replace(\"temp:\", \"\"));\nmsg.topic = \"Temperatur\";\n\n// Schwellwert-Überwachung für Lüfter\nif (msg.payload > 35) {\n    // Automatisch Lüfter einschalten\n    var fanMsg = {payload: \"on\", topic: \"auto_fan\"};\n    node.send([msg, fanMsg]);\n} else {\n    node.send([msg, null]);\n}\n\nreturn;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "04b2a89750835cc6",
                "8e8156a950f86973"
            ],
            [
                "424b346e7741dbc6"
            ]
        ]
    },
    {
        "id": "dc89cbb869d6577a",
        "type": "function",
        "z": "0a85e1921e427ce2",
        "name": "parse humi",
        "func": "msg.payload = parseFloat(msg.payload.replace(\"humi:\", \"\"));\nmsg.topic = \"Luftfeuchtigkeit\";\n// Schwellwert-Überwachung für Lüfter\nif (msg.payload > 40) {\n    // Automatisch Lüfter einschalten\n    var fanMsg = { payload: \"on\", topic: \"auto_fan\" };\n    node.send([msg, fanMsg]);\n} else {\n    node.send([msg, null]);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "04b2a89750835cc6",
                "9983f1dd7683f8a4",
                "424b346e7741dbc6"
            ]
        ]
    },
    {
        "id": "f8f3c6a8323c8647",
        "type": "function",
        "z": "0a85e1921e427ce2",
        "name": "parse dist",
        "func": "let parts = msg.payload.toString().split(\":\");\nif (parts.length === 2) {\n    msg.payload = parseFloat(parts[1]);\n} else if (msg.payload.includes(\"cm\")) {\n    msg.payload = parseFloat(msg.payload.toString().replace(/[^0-9.]/g, \"\"));\n}\nmsg.topic = \"Distanz\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "661579405ac1a262",
                "52a4aa3df2d5eb5f",
                "828d2f29ffc7ec82"
            ]
        ]
    },
    {
        "id": "ac593f655348fb8a",
        "type": "function",
        "z": "0a85e1921e427ce2",
        "name": "parse moist",
        "func": "msg.payload = parseFloat(msg.payload.replace(\"moist:\", \"\"));\nmsg.topic = \"Bodenfeuchtigkeit\";\n\n// Schwellwert-Überwachung für Pumpe\nif (msg.payload > 2000) {\n    // Automatisch Pumpe einschalten bei niedriger Bodenfeuchtigkeit\n    var pumpMsg = {payload: \"on\", topic: \"auto_pump\"};\n    node.send([msg, pumpMsg]);\n} else {\n    node.send([msg, null]);\n}\n\nreturn;",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "c04897ce619680a6",
                "441410876c87e047"
            ],
            [
                "b0922326aafe8d3f"
            ]
        ]
    },
    {
        "id": "04b2a89750835cc6",
        "type": "ui_chart",
        "z": "0a85e1921e427ce2",
        "name": "Klimadaten",
        "group": "d886dd5176106754",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperatur & Feuchtigkeit",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Warte auf Daten...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff6b6b",
            "#4ecdc4",
            "#45b7d1",
            "#96ceb4",
            "#feca57",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "661579405ac1a262",
        "type": "ui_chart",
        "z": "0a85e1921e427ce2",
        "name": "Distanzmessung",
        "group": "d886dd5176106754",
        "order": 2,
        "width": 12,
        "height": 4,
        "label": "Wasserstand",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Warte auf Daten...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f39c12",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8e8156a950f86973",
        "type": "ui_text",
        "z": "0a85e1921e427ce2",
        "group": "cefd81e9c214745f",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Temperatur",
        "format": "{{msg.payload}} °C",
        "layout": "row-center",
        "className": "temp-display",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "19",
        "color": "#000000",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "9983f1dd7683f8a4",
        "type": "ui_text",
        "z": "0a85e1921e427ce2",
        "group": "cefd81e9c214745f",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Luftfeuchtigkeit",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "humidity-display",
        "style": false,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "52a4aa3df2d5eb5f",
        "type": "ui_text",
        "z": "0a85e1921e427ce2",
        "group": "cefd81e9c214745f",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Wasserstand",
        "format": "{{msg.payload}} cm",
        "layout": "row-center",
        "className": "distance-display",
        "style": false,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "c04897ce619680a6",
        "type": "ui_text",
        "z": "0a85e1921e427ce2",
        "group": "cefd81e9c214745f",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Bodenfeuchtigkeit",
        "format": "{{msg.payload}} %",
        "layout": "row-center",
        "className": "soil-display",
        "style": false,
        "font": "",
        "fontSize": "24",
        "color": "#000000",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b275c09d28c7971",
        "type": "ui_button",
        "z": "0a85e1921e427ce2",
        "name": "",
        "group": "7b30a8b7b3cb3e35",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Lüfter AN",
        "tooltip": "Lüfter manuell einschalten",
        "color": "#ffffff",
        "bgcolor": "#28a745",
        "className": "fan-on-button",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "manual_fan",
        "topicType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "f0be9d40ebd732e7"
            ]
        ]
    },
    {
        "id": "595cf260b71c108d",
        "type": "ui_button",
        "z": "0a85e1921e427ce2",
        "name": "",
        "group": "7b30a8b7b3cb3e35",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Lüfter AUS",
        "tooltip": "Lüfter ausschalten",
        "color": "#ffffff",
        "bgcolor": "#dc3545",
        "className": "fan-off-button",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "manual_fan",
        "topicType": "str",
        "x": 270,
        "y": 440,
        "wires": [
            [
                "f0be9d40ebd732e7"
            ]
        ]
    },
    {
        "id": "8be4210d24db99b4",
        "type": "ui_button",
        "z": "0a85e1921e427ce2",
        "name": "",
        "group": "7b30a8b7b3cb3e35",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Pumpe AN",
        "tooltip": "Pumpe manuell einschalten",
        "color": "#ffffff",
        "bgcolor": "#007bff",
        "className": "pump-on-button",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "manual_pump",
        "topicType": "str",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "1027707cbd179e06"
            ]
        ]
    },
    {
        "id": "d333518231f7a08c",
        "type": "ui_button",
        "z": "0a85e1921e427ce2",
        "name": "",
        "group": "7b30a8b7b3cb3e35",
        "order": 4,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "Pumpe AUS",
        "tooltip": "Pumpe ausschalten",
        "color": "#ffffff",
        "bgcolor": "#dc3545",
        "className": "pump-off-button",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "manual_pump",
        "topicType": "str",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "1027707cbd179e06"
            ]
        ]
    },
    {
        "id": "424b346e7741dbc6",
        "type": "mqtt out",
        "z": "0a85e1921e427ce2",
        "name": "Auto Lüfter",
        "topic": "DLN/test/luefter",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "227376707e07851c",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "b0922326aafe8d3f",
        "type": "mqtt out",
        "z": "0a85e1921e427ce2",
        "name": "Auto Pumpe",
        "topic": "DLN/test/pumpe",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "227376707e07851c",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0be9d40ebd732e7",
        "type": "mqtt out",
        "z": "0a85e1921e427ce2",
        "name": "Lüfter Steuerung",
        "topic": "DLN/test/luefter",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "227376707e07851c",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "1027707cbd179e06",
        "type": "mqtt out",
        "z": "0a85e1921e427ce2",
        "name": "Pumpe Steuerung",
        "topic": "DLN/test/pumpe",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "227376707e07851c",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "7ff394503ed151f2",
        "type": "ui_text",
        "z": "0a85e1921e427ce2",
        "group": "ae3dfd9c815ff460",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "",
        "label": "Einstellungen:",
        "format": "Lüfter: > 35°C | Pumpe: Threshhold = 2000",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "14",
        "color": "#6c757d",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "c5e46a8b59ec20ac",
        "type": "mqtt out",
        "z": "0a85e1921e427ce2",
        "name": "",
        "topic": "DLN/test/notification",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4f1c56bafa6120ce",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "7a61370890f70876",
        "type": "inject",
        "z": "0a85e1921e427ce2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "received",
        "payloadType": "str",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "c5e46a8b59ec20ac"
            ]
        ]
    },
    {
        "id": "e95611e81af8fd72",
        "type": "mqtt in",
        "z": "0a85e1921e427ce2",
        "name": "",
        "topic": "DLN/test/notification",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4f1c56bafa6120ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "d03aff38025df04d"
            ]
        ]
    },
    {
        "id": "d03aff38025df04d",
        "type": "debug",
        "z": "0a85e1921e427ce2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "ebacd362451c3ca3",
        "type": "ui_toast",
        "z": "0a85e1921e427ce2",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "828d2f29ffc7ec82",
        "type": "function",
        "z": "0a85e1921e427ce2",
        "name": "Wasserstand prüfen",
        "func": "if (msg.payload > 20) {\n    msg.payload = \"⚠️ Wasserstand kritisch! Abstand: \" + msg.payload + \" cm\";\n    return [msg, msg];\n}\nreturn [null, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [],
            [
                "265659ae65e0617a"
            ]
        ]
    },
    {
        "id": "265659ae65e0617a",
        "type": "ui_toast",
        "z": "0a85e1921e427ce2",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Toast Wasserstand",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "441410876c87e047",
        "type": "ui_chart",
        "z": "0a85e1921e427ce2",
        "name": "Klimadaten",
        "group": "d886dd5176106754",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Bodenfeuchtigkeit",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Warte auf Daten...",
        "dot": false,
        "ymin": "0",
        "ymax": "4000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff6b6b",
            "#4ecdc4",
            "#45b7d1",
            "#96ceb4",
            "#feca57",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5058cd8714f55003",
        "type": "mqtt-broker",
        "name": "HTW MQTT",
        "broker": "broker.f4.htw-berlin.de",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "4f1c56bafa6120ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.f4.htw-berlin.de",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d886dd5176106754",
        "type": "ui_group",
        "name": "Umweltdaten",
        "tab": "59177f7b69cf7112",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cefd81e9c214745f",
        "type": "ui_group",
        "name": "📈 Aktuelle Werte",
        "tab": "59177f7b69cf7112",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b30a8b7b3cb3e35",
        "type": "ui_group",
        "name": "🎛️ Steuerung",
        "tab": "59177f7b69cf7112",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "227376707e07851c",
        "type": "mqtt-broker",
        "name": "HTW MQTT",
        "broker": "broker.f4.htw-berlin.de",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "ae3dfd9c815ff460",
        "type": "ui_group",
        "name": "📋 Status",
        "tab": "59177f7b69cf7112",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "59177f7b69cf7112",
        "type": "ui_tab",
        "name": "Umweltdaten",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]